<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter relation</title>
</head>
<header>
    <nav>
        <h1>Pay My Buddy</h1>
        <ul>
            <li><a th:href="@{/transaction}">Transférer</a></li>
            <li><a th:href="@{/profile}">Profil</a></li>
            <li><a href="#">Ajouter relation</a></li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Se déconnecter</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<body>
<div>
    <p>Chercher une relation</p>
    <form th:action="@{/add_connection}" th:object="${buddyUser}" action="#" method="post">
        <input th:value="*{email}" type="email" name="email" placeholder="Saisir une adresse mail" required/>
        <button type="submit">Ajouter</button>
    </form>
    <p th:if="${returnMessage}" th:text="${returnMessage}"></p>
</div>
</body>
</html>