<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>Ajouter relation</title>
</head>
<nav class="header">
    <div class="name">Pay My Buddy</div>
    <ul class="header-list">
        <li><a th:href="@{/transaction}">Transférer</a></li>
        <li><a th:href="@{/profile}">Profil</a></li>
        <li><a class="active" href="#">Ajouter relation</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="bt-logout">Se déconnecter</button>
            </form>
        </li>
    </ul>
</nav>
<body>
<div>
    <p>Chercher une relation</p>
    <form th:action="@{/add_connection}" th:object="${buddyUser}" action="#" method="post">
        <input th:value="*{email}" type="email" name="email" placeholder="Saisir une adresse mail" required/>
        <button type="submit">Ajouter</button>
    </form>
    <p th:if="${returnMessage}" th:text="${returnMessage}"></p>
</div>
</body>
</html>