<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <title>Connexion</title>
</head>
<body>
<div>
    <h1>Pay My Buddy</h1>
    <form th:action="@{/login}" method="post">
        <input type="email" name="username" placeholder="Mail" required/><br/>
        <input type="password" name="password" placeholder="Mot de passe" required/><br/>
        <input type="submit" value="Se connecter"/><br/>
    </form>
    <a th:href="@{/signup}" title="S'inscrire">S'inscrire</a>
    <p th:if="${returnMessage}" th:text="${returnMessage}"></p>
</div>
</body>
</html>