<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Transférer</title>
</head>
<body>
<nav class="header">
    <div class="name">Pay My Buddy</div>
    <ul class="header-list">
        <li><a class="active" href="#">Transférer</a></li>
        <li><a th:href="@{/profile}">Profil</a></li>
        <li><a th:href="@{/add_connection}">Ajouter relation</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="bt-logout">Se déconnecter</button>
            </form>
        </li>
    </ul>
</nav>
<div class="addTransaction">
    <form  th:action="@{/transaction}" method="post">
        <select class="input-receiver" name="receiver" required>
            <option selected disabled value="">Sélectionner une relation</option>
            <option th:each="user : ${buddyUser}"
                    th:value="${user.email}"
                    th:text="${user.username}"></option>
        </select>
        <input class="inputDesc" type="text" name="description" placeholder="Description" required>
        <input class="inputNb" type="number" step="0.01" name="amount" min="0" placeholder="0€" required>
        <button type="submit">Payer</button>
    </form>
    <p th:if="${returnMessage}" th:text="${returnMessage}"></p>
</div>
<div class="viewTransaction">
    <label>Mes transactions</label>
    <table>
        <thead>
        <tr class="txtTab">
            <th>Relations</th>
            <th>Description</th>
            <th class="rightTab">Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr class="dataTab" th:each="tranSend : ${transactionSend}">
            <th th:text="${tranSend.receiver.username}"></th>
            <th th:text="${tranSend.description}"></th>
            <th class="rightTab" th:text="${tranSend.amount} + '€'"></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>